@import 'node_modules/foundation-sites/scss/foundation'; 

@include foundation-global-styles;
@include foundation-grid; 

body {
    @include grid-row(); 
    font-family: 'Rambla', sans-serif;
    

    #header {
        @include grid-column(12); 
        position: fixed; 
        background-color: white; 
        font-family: 'Lobster', cursive;
        height: 150px; 
    }

    #header h1 {
        @include grid-column(9); 
        float: left; 
        text-align: left; 
        color: #007FFF; 
        font-size: 3em; 
    }
    
    #header img {
        @include grid-column(2); 
        float: right; 
        width: 200px; 
        height: 150px; 
        margin-bottom: 1%; 
        margin-top: 0; 
        
    }

    #messageBox {
        @include grid-column(12); 
        width: 100%;
        height: 100%;
        border: 1px solid black; 
        overflow: scroll; 
        background-color: #007FFF; 
    }

    #message {
        display: block; 
        border: 1px solid white;
        background-color: white; 
        border-radius: 16px;  
        width: fit-content; 
        color: black; 
        margin: 3%; 
        margin-left: 0; 
        padding: 2%; 
    }

    #from {
        font-size: 1.5em; 
    }

    #text {
        font-size: .7em; 
        display: inline-block;  
        padding-left: 5%; 
    }

    #textBox {
        @include grid-column(12); 
        height: 150px; 
    }

    input {
        @include grid-column(9); 
        margin-top: 2%; 
        height: 75px; 
    }

    #send {
        @include grid-column(2); 
        margin-top: 2%; 
        height: 75px; 
        font-family: 'Lobster', cursive;
        font-size: 2em; 
        color: #007FFF; 
    }
}
